Source: mysql-router
Maintainer: MySQL Release Engineering <mysql-build@oss.oracle.com>
Section: database
Priority: optional
Standards-Version: 3.9.5
Homepage: http://www.mysql.com/
Build-Depends: cmake,
 debhelper (>= 9.0.0),
 fakeroot, lsb-release,
 python,
 libmysqlclient-dev

Package: mysql-router
Architecture: any
Pre-Depends: debconf, adduser
Depends: libmysqlclient18 (>= 5.5) | libmysqlclient20 (>= 5.7), ${misc:Depends}, ${shlibs:Depends}
Description: MySQL Router server
 The MySQL(TM) Router software delivers a fast, multi-threaded way of
 routing connections from MySQL Clients to MySQL Servers. MySQL is a
 trademark of Oracle.

Package: mysql-router-dev
Architecture: any
Depends: libmysqlclient18 (>= 5.5) | libmysqlclient20 (>= 5.7), libmysqlclient-dev, ${misc:Depends}, ${shlibs:Depends}
Description: MySQL Router development files
 The MySQL(TM) Router software delivers a fast, multi-threaded way of
 routing connections from MySQL Clients to MySQL Servers. MySQL is a
 trademark of Oracle.
